<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tentata Vendita</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col
          ><p-card>ELENCO<br />CLIENTI</p-card></ion-col
        >
        <ion-col
          ><p-card>ELENCO<br />CLIENTI</p-card></ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col
          ><p-card>ELENCO<br />CLIENTI</p-card></ion-col
        >
        <ion-col
          ><p-card>ELENCO<br />CLIENTI</p-card></ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col><h4>Giro Attivo</h4></ion-col>
      </ion-row>

      <ion-item>
        <ion-row>
          <ion-col><h4>Giro Attivo</h4></ion-col>
        </ion-row>
      </ion-item>
    </ion-content>
  </div>
</ion-app>
